<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="footer-info">
                    <div class="title-footer">
                        <h4>We are on social media</h4>
                    </div>
                    <div class="footer-text">
                        <p>Like Us on Facebook, Twitter and checkout videos,<br/>
                            posts, bud upcoming events.</p>
                    </div>
                    <div class="footer-social">
                        <a href="#" class="fb">facebook</a>
                        <a href="#" class="tw">twitter</a>
                    </div>
                    <div class="footer-copy">
                        <p>Copyright &copy; 2017 Barr Agency. All rights reserved.</p>
                        <p>Designed by <a href="#"><i class="icon icon-copy"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <nav class="menu-footer">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Agents</a></li>
                        <li><a href="#">Listings</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="footer-contacts">
                    <div class="title-footer">
                        <h4>Contacts</h4>
                    </div>
                    <div class="contacts-info">
                        <p><i class="icon icon-map"></i><span>United States<br/>
                            35 Ivor Place, Lower Ground,<br/>
                            New Yourk NY1 6EA</span></p>
                        <p><i class="icon icon-phone"></i><a href="tel:+1 (312) 123 4567">+1 (312) 123 4567</a></p>
                        <p><i class="icon icon-mail"></i><a href="mailto:info@barragency.com">info@barragency.com</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer><!-- .footer -->