/* ==|====================
   Module/Global
   ======================= */

/*===titles===*/
.title-line{
    font-family: $font2;
    @include fluidFontSize(22px,36px,480px,1200px,40px,26px);
    color: #333;
    @include ptr(margin,0 0 40 0);
    @include ptr(padding,0 0 45 0);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        @include ptr(width,30);
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: $color2;
    }
}

.title-deep{
    font-family: $font2;
    @include fluidFontSize(22px,36px,480px,1200px,40px,26px);
    color: #333;
    @include ptr(margin,0 0 30 0);
    position: relative;
}

.title-block{
    font-family: $font2;
    @include fluidFontSize(20px,28px,480px,1200px,32px,24px);
    color: #333;
    @include ptr(margin,0 0 25 0);
    position: relative;
}

.title-footer{
    font-family: $font2;
    @include fluidFontSize(14px,18px,480px,1200px,22px,16px);
    color: #fff;
    @include ptr(margin,0 0 15 0);
}

/*===spaces===*/
.main-space{
    @include ptr(margin,80 0 0 0);
}