/* ==|====================
   Module/Responsive
   ======================= */

@media only screen and (max-width: 1999px) {

}

@media only screen and (max-width: 1679px) {

}

@media only screen and (max-width: 1365px) {

}

@media only screen and (max-width: 1199px) {
    .footer-social a{
        @include ptr(line-height,45);
    }
    html{
        font-size: 9px;
    }
}

@media only screen and (max-width: 1023px) {
    .menu li{
        @include ptr(margin,0 0 0 45);
    }
    .slider-item-text{
        width: 60%;
    }
    .footer-social a{
        @include ptr(width,145);
    }
}

@media only screen and (max-width: 767px) {
    .header{
        @include ptr(padding,15 0);
        height: auto;
    }
    .header > .container{
        position: static;
    }
    .copyright-mls{
        @include ptr(margin,10 0 0 0);
    }
    .contacts-info p,
    .contacts-info p:first-child{
        display: inline-block;
        vertical-align: middle;
        @include ptr(margin,0 0 0 5);
    }
    .contacts-info p:first-child{
        margin: 0;
    }
    .contacts-info p i,
    .deep-connect p:first-child i{
        top: 0;
    }
    .footer{
        @include ptr(height,370);
    }
    .menu{
        position: static;
    }
    .menu .btn-menu{
        display: block;
    }
    .menu > ul{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(5,26,54,.9);
        z-index: 11;
        text-align: left;
        border: none;
        padding: 75px 0 0 0;
    }
    .menu > ul > li{
        padding: 0;
        display: block;
        margin: 0;
        line-height: normal;
        height: auto;
    }
    .menu li a{
        display: block;
        @include fluidFontSize(16px,18px,480px,1200px,28px,17px);
        text-transform: uppercase;
        color: #fff;
        padding: 15px 25px;
        height: auto;
    }
    .menu li a::before{
        display: none;
    }
    .menu li a:hover,
    .menu li a:focus{
        background-color: $color2;
        color: #fff;
    }
    .agent{
        text-align: center;
        @include ptr(padding,90 0 0 0);
    }
    .deep-left{
        @include ptr(padding,0 15 50);
    }
    .deep-left::before {
        top: auto;
        bottom: 0;
        right: 0;
    }
    .agent-socials a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .slider,
    .slider .slider-item{
        background-size: cover;
        @include ptr(height,450);
        @include ptr(line-height,450);
    }
    .slider-nav-el .nav-top{
        @include ptr(top,20);
    }
    .slider-nav-el .nav-bot{
        @include ptr(bottom,20);
    }
    .contacts-map iframe{
        width: 58.3333%;
    }
    html{
        font-size: 8px;
    }
}

@media only screen and (max-width: 639px) {
    .full-width{
        width: 100%;
    }
    .agent-listings{
        text-align: center;
    }
    .agent-house-map{
        text-align: left;
    }
    .agent-house-img{
        display: inline-block;
    }
    .contacts-map{
        @include ptr(margin,80 0 0 0);
    }
    .contacts-map iframe{
        position: static;
        padding: 0;
        width: 100%;
        @include ptr(height,500);
    }
}

@media only screen and (max-width: 479px) {
    .full-s-width{
        width: 100%;
    }
    .logo{
        @include ptr(width,300);
    }
    .title-line,
    .title-footer{
        text-align: center;
    }
    .title-line::before{
        left: 50%;
        @include ptr(margin,0 0 0 -15);
    }
    .about-text,
    .agent-post{
        text-align: center;
    }
    .houses-item{
        width: 100%;
    }
    .footer-social a{
        @include ptr(line-height,45);
    }
    .footer-block{
        text-align: center;
        @include ptr(margin,10 0);
    }
    .contacts-info p,
    .contacts-info p:first-child{
        @include ptr(margin,10 5);
        text-align: left;
    }
    .footer{
        height: auto;
    }
    .slider-item-text {
        width: 100%;
    }
    .slider-nav-el {
        top: auto;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50px;
        padding: 0 15px;
    }
    .slider-nav-el .nav-top {
        top: 0;
        left: 15px;
        transform: rotateZ(-90deg);
    }
    .slider-nav-el .nav-bot {
        top: 0;
        right: 15px;
        transform: rotateZ(-90deg);
    }
    .agent-post .agent-house-status .price{
        position: static;
    }
    .slider,
    .slider .slider-item{
        background-size: cover;
        @include ptr(height,300);
        line-height: normal;
    }
    .slider-listing .slider-nav-el::before{
        display: none;
    }
    .slider-item-text{
        @include ptr(margin,10 0 0 0);
    }
    .contacts-map iframe{
        @include ptr(height,400);
    }
    html{
        font-size: 7px;
    }
}