/* ==|====================
   Module/Responsive
   ======================= */

@media only screen and (max-width: 1999px) {

}

@media only screen and (max-width: 1679px) {

}

@media only screen and (max-width: 1365px) {

}

@media only screen and (max-width: 1199px) {
    html{
        font-size: 9px;
    }
}

@media only screen and (max-width: 1023px) {
    .main-menu li a{
        @include ptr(line-height,66);
    }
}

@media only screen and (max-width: 767px) {
    .about-parent{
        flex-direction: column;
        text-align: center;
    }
    .resume-part{
        @include ptr(margin-top,40);
    }
    .resume-part:first-child{
        margin-top: 0;
    }
    .resume-block::before,
    .wrap-resume-item::before{
        display: none;
    }
    .resume-block__l .wrap-resume-item,
    .resume-block__r .wrap-resume-item{
        padding: 0;
    }
    .resume-item::after{
        display: none;
    }
    .g-section__blue::before,
    .g-section__white::before{
        top: -3%;
    }
    .resume-block__l .resume-item:hover,
    .resume-block__l .resume-item:focus{
        left: 0;
    }
    .resume-block__r .resume-item:hover,
    .resume-block__r .resume-item:focus{
        right: 0;
    }
    .menu-feedback-copy p{
        margin: auto;
    }
    .menu-feedback-contacts{
        display: flex;
        justify-content: space-between;
    }
    .js-top-effect{
        opacity: 1;
        top: 0;
    }
    .js-bottom-effect{
        opacity: 1;
        bottom: 0;
    }
    .js-l-effect{
        opacity: 1;
        left: 0;
    }
    .js-r-effect{
        opacity: 1;
        right: 0;
    }
    .js-opacity-effect{
        opacity: 1;
    }
    .main-menu li a{
        @include ptr(line-height,58);
    }
    html{
        font-size: 8px;
    }
}

@media only screen and (max-width: 639px) {
    .skills-line{
        @include ptr(margin-top,15);
    }
    .skills-line:first-child{
        margin-top: 0;
    }
    .form-group{
        @include ptr(margin-bottom, 30);
    }
    .btn-form{
        margin: 0 auto;
        float: none;;
    }
    .main-menu li a{
        @include ptr(line-height,48);
    }
}

@media only screen and (max-width: 479px) {
    .category-filter{
        @include ptr(padding-top,140);
    }
    .menu-feedback-copy p{
        text-align: center;
    }
    .menu-feedback-contacts{
        flex-direction: column;
        p{
            margin: auto;
        }
    }
    .popup-portfolio{
        @include ptr(width,400);
    }
    .item-text{
        @include ptr(margin-top,40);
    }
    .resume-info{
        @include ptr(margin-top,40);
    }
    .main-menu li a{
        @include ptr(line-height,44);
    }
    html{
        font-size: 7px;
    }
}