/* ==|====================
   Module/Sections
   ======================= */
.slider{
    position: relative;
    .owl-nav{
        position: absolute;
        top: 0;
        right: 100px;
        height: 100%;
        width: 100px;
        & > div{
            position: relative;
            cursor: pointer;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            border: 1px solid #fff;
            .icon{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}
.slider-item{
    @include ptr(height,578);
    @include ptr(line-height,578);
    color: #fff;
}
.slider-item-text{
    @extend %align-middle;
    width: 48.5%;
    h2{
        font-family: $font2;
        @include fluidFontSize(26px,48px,480px,1200px,52px,32px);
        text-transform: uppercase;
    }
    p{
        @include ptr(margin,30 0 0 0);
        @include fluidFontSize(14px,18px,480px,1200px,28px,16px);
    }
}

.about-text{
    p{
        @include ptr(margin,25 0 0 0);
        &:first-child{
            margin: 0;
        }
    }
}

.houses{
    overflow: hidden;
}
.houses-item{
    float: left;
    width: 33.3333%;
}

.form-group{
    position: relative;
}
.form-group label{
    position: absolute;
    @include ptr(top,8);
    @include ptr(left,12);
    @include fluidFontSize(12px,16px,480px,1024px,20px,14px);
    color: $color1;
    line-height: normal;
    transition: all .2s linear;
}
.form-group.active label{
    @include ptr(top,-20);
    left: 0;
    @include fluidFontSize(10px,14px,480px,1024px,18px,11px);
}
.not-error input,
.not-error textarea{
    border: 1px solid green;
}
.error input,
.error textarea{
    border: 1px solid red;
}
div.wpcf7-validation-errors,
.screen-reader-response{
    display: none !important;
}
span.wpcf7-not-valid-tip {
    color: #f00;
    @include fluidFontSize(12px,14px,480px,1024px,18px,13px);
    font-weight: normal;
    display: block;
    position: absolute;
    @include ptr(bottom,-25);
    left: 0;
    line-height: normal;
    white-space: nowrap;
}
.btn-all .ajax-loader{
    opacity:0;
}
.success-message{
    text-align: center;
    font-weight: bold;
    @include fluidFontSize(14px,20px,480px,1024px,30px,16px);
    text-transform: uppercase;
    color: $color1;
}