/* ==|====================
   Layout/Tools
   ======================= */

.icon {
    display: inline-block;
    background-repeat: no-repeat;
}

.item-img img{
  max-width: 100%;
}
.item-img a img:hover{
  opacity: .5;
}
.right{
    float: right;
}
.left{
    float: left;
}